.button-nav-open {
  position: relative;

  display: none;
  width: 50px;
  height: 24px;

  background-color: transparent;
  background-image: $burger-menu;
  border: none;

  cursor: pointer;

  &--active {
    display: block;
  }

  &:hover {
    background-image: $burger-menu-hover;
  }

  &:active {
    background-image: $burger-menu-hover;
    opacity: 0.3;
  }
}

.button-nav-close {
  display: none;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &--active {
    display: block;
  }
}

.button-nav-close__icon {
  width: 24px;
  height: 23px;

  fill: #ffffff;

  &:hover {
    fill: $color-pink;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $desktop-screen) {

  .button-nav {
    &-open,
    &-close {
      display: none;
    }
  }
}
