.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  height: 66px;
}

.logo__icon {
  display: block;

  &--mobile {
    width: 75px;
    height: 22px;

    fill: #ffffff;

    &:hover {
      fill: $color-pink;
    }

    &:active {
      fill: #ffffff;
      opacity: 0.3;
    }
  }

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

@media (min-width: $tablet-screen) {

  .logo {
    min-height: 110px;

    background-color: transparent;
  }

  .logo__icon {

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;

      width: 147px;
      height: 40px;

      fill: #ffffff;

      &:hover {
        fill: $color-pink;
      }

      &:active {
        fill: #ffffff;
        opacity: 0.3;
      }
    }
  }
}

@media (min-width: $desktop-screen) {

  .logo {
    width: 150px;
    padding: 0;

    background-color: transparent;
  }

  .logo__icon {

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;

      width: 147px;
      height: 40px;

      fill: #ffffff;

      &:hover {
        fill: $color-pink;
      }

      &:active {
        fill: #ffffff;
        opacity: 0.3;
      }
    }
  }
}
