.page-header {
  position: relative;

  display: block;

  background-image: $menu-gradient-mobile, url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: $menu-gradient-mobile, url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
  }

  &::before {
    content: "";

    position: absolute;
    bottom: 273px;
    left: 50%;
    z-index: 1;

    width: 256px;
    height: 286px;
    margin-left: -128px;

    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
      background-size: 258px auto;
    }
  }

  &--inner-page {
    height: 237px;

    &::before {
      display: none;
    }
  }
}

.page-header__title {
  display: block;
  max-width: 175px;
  margin: 0 auto;
  padding: 30px 0 85px 0;

  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: 300;
  text-align: center;

  &--form-page {
    max-width: 230px;
    padding: 32px 0 55px 0;
  }
}

@media (min-width: $tablet-screen) {
  .page-header {
    background-image: $menu-gradient, url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: $menu-gradient, url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }

    &::before {
      bottom: 0;

      width: 700px;
      height: 545px;
      margin-left: -350px;

      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-position: 0 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
        background-size: 700px auto;
      }
    }

    &--inner-page {
      height: 440px;

      background-size: 200%;

      background-position: center top;
    }
  }

  .page-header__wrapper {
    @include container-tablet;
  }

  .page-header__title {
    max-width: 355px;
    padding: 71px 0 139px 0;

    font-size: 50px;

    &--form-page {
      max-width: 475px;
      padding: 71px 0 79px 0;
    }
  }
}

@media (min-width: $desktop-screen) {
  .page-header {
    background-image: $menu-gradient, url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: $menu-gradient, url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }

    &::before {
      bottom: 0;

      width: 1050px;
      height: 645px;
      margin-left: -455px;

      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-position: 0 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
        background-size: 1050px auto;
      }
    }

    &--inner-page {
      height: 394px;
    }
  }

  .page-header__wrapper {
    @include container-desktop;
  }

  .page-header__title {
    max-width: 355px;
    padding: 64px 0 100px 0;

    font-size: 50px;

    &--form-page {
      max-width: 750px;
      padding: 63px 0 101px 0;
    }
  }
}

