@media (min-width: $tablet-screen) {

  .feature__research {
    display: block;
    padding: 95px 20px 26px 20px;
  }

  .research-feature__wrap {
    position: relative;

    width: 310px;
    margin: 0 auto;
    padding-left: 310px;

    &::before {
      content: "";

      position: absolute;
      top: -37px;
      left: 0;

      width: 238px;
      height: 276px;

      background-image: url("../img/sprites/sprite.svg#research-icon");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &::after {
      content: "24";

      position: absolute;
      top: 19px;
      left: 19px;

      width: 174px;
      height: 174px;

      font-size: 96px;
      line-height: 150px;
      color: $color-pink;
      font-weight: bold;
      text-align: center;

      border: 14px solid $color-pink;
      border-radius: 50%;
    }
  }

  .research-feature__title {
    max-width: 122px;
    margin: 0;
    padding-bottom: 10px;

    font-size: 30px;
    line-height: 36px;

    &--second-line {
      white-space: nowrap;
    }
  }

  .research-feature__description {
    max-width: 296px;
    margin: 0;
    padding-bottom: 9px;

    font-size: 14px;
    color: $color-blue;
  }

  .research-feature__link-more {
    font-size: 14px;
    color: $color-pink;
    &:hover {
      color: #000000;
    }
    &:active {
      color: rgba(#000000, 0.3);
    }
  }
}

@media (min-width: $desktop-screen) {

  .feature__research {
    position: relative;

    display: block;
    padding: 127px 0 113px 0;
  }

  .research-feature {
    background: #f2f2f2;
  }

  .research-feature__wrap {
    width: 570px;
    padding-left: 365px;
    margin: 0 auto;

    &::before {
      top: -94px;
      left: 0;

      width: 300px;
      height: 345px;
    }

    &::after {
      top: -26px;
      left: 22px;

      width: 219px;
      height: 219px;

      font-size: 120px;
      line-height: 187px;

      border: 17px solid $color-pink;
    }
  }

  .research-feature__title {
    max-width: 550px;
    padding-bottom: 24px;

    font-size: 30px;
    line-height: 30px;

    &--second-line {
      white-space: wrap;
    }
  }

  .research-feature__description {
    max-width: 570px;
    padding-bottom: 31px;

    font-size: 18px;
    line-height: 30px;
  }

  .research-feature__link-more {
    font-size: 18px;
    line-height: 30px;
  }
}
