.slider-toggles {
  display: block;
  width: 65px;
  margin-left: -32px;
}

.slider-toggles__item {
  display: inline-block;
  width: 15px;
}

.slider-toggles__switch {
  display: block;

  width: 6px;
  height: 6px;
  padding: 0;

  background-color: rgba($color-blue, 0.3);

  border: 3px solid #ffffff;
  border-radius: 50%;

  &:hover {
    background-color: rgba($color-blue, 0.6);
  }

  &:active {
    background-color: rgba($color-blue, 0.1);
  }

  &--active,
  &--active:hover,
  &--active:active {
    background-color: #ffffff;;
    border: 3px solid $color-blue;
  }
}

.slider-toggles__switch--grey {
  border-color:#f2f2f2;

  &--active,
  &--active:hover,
  &--active:active {
    background-color: #f2f2f2;
    border: 3px solid $color-blue;
  }
}
