.tariffs-list {
  display: flex;

  overflow: hidden;
}

.tariffs-list__item {
  position: relative;

  width: 100%;

  flex-shrink: 0;
  box-sizing: border-box;

  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;

  &--base {
    top: 0;
    left: -93%;
  }

  &--standard {
    top: 0;
    left: -94%;
  }

  &--unlim {
    top: 0;
    right: 95%;
  }
}

.tariffs-list__item--wide {
  display: none;
}

.tariffs-list__item-active {
  width: 88%;

  margin: 0 auto;
}

.tariffs-list__item--hit {

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 73px;
    height: 73px;

    background-image: linear-gradient(135deg, transparent 22%, #d22856 22%, #d22856 50%, transparent 50%, transparent);
  }

  &::after {
    content: "хит";

    position: absolute;
    top: 12px;
    left: 10px;

    font: inherit;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;

    transform: rotate(-45deg);
  }
}

.tariff__title {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 2px;

  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: $color-blue;
}

.tariff__cost {
  display: block;
  padding-bottom: 19px;

  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;

  background-color: $color-blue;
}

.tariff__table {
  border-collapse: collapse;
  width: 100%;

  background-color: #ffffff;
}

.tariff__feature {
  width: 77%;
  padding: 15px 0 14px 22px;

  font-size: 14px;
  line-height: 30px;
  color: $color-blue;
  text-transform: uppercase;
  text-align: left;

  border-bottom: 2px solid #e5e5e5;
}

.tariff__availability {
  position: relative;

  width: 33%;
  padding: 0;

  border-bottom: 2px solid #e5e5e5;

  &--yes::before {
    content: "";

    position: absolute;
    top: 20px;
    right: 17px;

    width: 31px;
    height: 21px;

    background-image: url("../img/sprites/sprite.svg#tariff-yes");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &--no::before {
    content: "";

    position: absolute;
    top: 15px;
    right: 19px;

    width: 27px;
    height: 26px;

    background-image: url("../img/sprites/sprite.svg#tariff-no");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}


@media (min-width: $tablet-screen) {

  .tariffs-list {
    @include container-tablet;
  }

  .tariffs-list__item--wide {
    display: block;
  }

  .tariffs-list__item {
    position: relative;

    width: 25%;

    flex-shrink: 0;

    &:first-child {
      border: none;
    }

    &--base {
      top: 0;
      left: 0;
    }

    &--standard {
      top: 0;
      left: 0;
    }

    &--unlim {
      top: 0;
      right: 0;
    }
  }

  .tariffs-list__item-active {
    width: 25%;
  }

  .tariffs-list__item--hit {

    &::before {
      background-image: linear-gradient(135deg, transparent 12%, #d22856 12%, #d22856 39%, transparent 39%, transparent);
    }

    &::after {
      top: 4px;
      left: 6px;
    }
  }

  .tariff__title {
    padding-top: 12px;
    padding-bottom: 0;

    font-style: 16px;
  }

  .tariff__cost {
    padding-bottom: 9px;

    font-size: 18px;
    line-height: 30px;
  }

  .tariff__table--wide {
    margin-top: 79px;
  }

  .tariff__feature--wide {
    padding: 6px 0 8px 15px;

    font-size: 14px;
    line-height: 30px;
    color: $color-blue;
    text-align: left;

    border: 2px solid #e7e7e7;
  }

  .tariff__feature {
    display: none;
  }

  .tariff__availability {
    width: 100%;
    height: 44px;

    &--yes::before {
      top: 13px;
      right: 60px;
    }

    &--no::before {
      top: 9px;
      right: 62px;
    }
  }
}

@media (min-width: $desktop-screen) {

  .tariffs-list {
    @include container-desktop;
  }

  .tariffs-list__item--wide {
    display: block;
  }

  .tariffs-list__item {
    position: relative;

    width: 25%;

    flex-shrink: 0;

    &:first-child {
      border: none;
    }

    &--base {
      top: 0;
      left: 0;
    }

    &--unlim {
      top: 0;
      right: 0;
    }
  }

  .tariffs-list__item-active {
    width: 25%;
  }

  .tariffs-list__item--hit {

    &::before {
      background-image: linear-gradient(135deg, transparent 22%, #d22856 22%, #d22856 50%, transparent 50%, transparent);
    }

    &::after {
      top: 12px;
      left: 10px;
    }
  }

  .tariff__title {
    padding-top: 17px;
    padding-bottom: 3px;

    font-style: 16px;
  }

  .tariff__cost {
    padding-bottom: 19px;

    font-size: 24px;
    line-height: 30px;
  }

  .tariff__table--wide {
    margin-top: 97px;
  }

  .tariff__feature--wide {
    padding: 14px 0 15px 20px;

    font-size: 18px;
    line-height: 30px;
    color: $color-blue;
    text-align: left;

    border: 2px solid #e7e7e7;
  }

  .tariff__feature {
    display: none;
  }

  .tariff__availability {
    width: 100%;
    height: 59px;

    &--yes::before {
      top: 22px;
      right: 101px;
    }

    &--no::before {
      top: 16px;
      right: 103px;
    }
  }
}
