body {
  min-width: 320px;
  font-family: $font;
  font-size: $font-size;
  line-height: $line-height;
  color: #000000;

  background: $bg-base;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
