body {
  min-width: 320px;
  font-family: $font;
  font-size: $font-size;
  line-height: $line-height;
  color: #000000;

  background: $bg-base;
}

// img {
//   max-width: 100%;
//   height: auto;
// }
