// HEADER NAVIGATION BLOCK /////


.page-header {
  position: relative;

  display: block;

  background-image: $menu-gradient-mobile, url("../img/bg_tablet.jpg");
  background-repeat: no-repeat;
  background-size: auto 462px;
  background-position: top;

  &::before {
    content: "";

    position: absolute;
    bottom: 274px;
    left: 50%;
    z-index: 1;

    width: 256px;
    height: 286px;
    margin-left: -128px;

    background-image: url("../img/bg-hand.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -97px 21px;
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  height: 66px;
}

.logo__icon {
  display: block;

  &--mobile {
    width: 75px;
    height: 22px;

    fill: #ffffff;

    &:hover {
      fill: $color-pink;
    }

    &:active {
      fill: #ffffff;
      opacity: 0.3;
    }
  }

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.logo__button-nav-open {
  position: relative;

  display: none;
  width: 50px;
  height: 24px;

  background-color: transparent;
  background-image: $burger-menu;
  border: none;

  cursor: pointer;

  &--active {
    display: block;
  }

  &:hover {
    background-image: $burger-menu-hover;
  }

  &:active {
    background-image: $burger-menu-hover;
    opacity: 0.3;
  }
}

.logo__button-nav-close {
  display: none;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &--active {
    display: block;
  }

  &-icon {
    width: 24px;
    height: 23px;

    fill: #ffffff;

    &:hover {
      fill: $color-pink;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.main-nav {
  position: relative;
  z-index: 3;

  display: none;
  width: 100%;
  margin: 0 auto;
  margin-bottom: -256px;

  &--active {
    display: block;
  }
}

.menu__item {
  text-align: center;
}

.menu__link {
  display: block;
  padding: 16px 0;

  line-height: 32px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $color-blue;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
              0 1px 0 #000000;

  &[href]:hover {
    color: $color-pink;
  }

  &[href]:active {
    color: rgba($color-pink, 0.3);
  }
}

@media (min-width: $tablet-screen) {
  .page-header {
    background-image: $menu-gradient, url("../img/bg_tablet.jpg");
    background-size: cover;
    background-position: center;

    &::before {
      bottom: 0;

      width: 541px;
      height: 546px;
      margin-left: -233px;

      background-size: cover;

      background-position: -97px 0;
    }
  }

  .page-header__wrapper {
    @include container-tablet;
  }

  .logo {
    min-height: 110px;

    background-color: transparent;
  }

  .logo__icon {

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;

      width: 147px;
      height: 40px;

      fill: #ffffff;

      &:hover {
        fill: $color-pink;
      }

      &:active {
        fill: #ffffff;
        opacity: 0.3;
      }
    }
  }
}

@media (min-width: $desktop-screen) {
  .page-header {
    background-image: $menu-gradient, url("../img/bg_desktop.jpg");

    &::before {
      bottom: 0;

      width: 658px;
      height: 644px;
      margin-left: -277px;

      background-size: cover;

      background-position: -119px 19px;
    }
  }

  .page-header__wrapper {
    @include container-desktop;
  }

  .logo {
    width: 150px;
    padding: 0;

    background-color: transparent;
  }

  .logo__icon {

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;

      width: 147px;
      height: 40px;

      fill: #ffffff;

      &:hover {
        fill: $color-pink;
      }

      &:active {
        fill: #ffffff;
        opacity: 0.3;
      }
    }
  }

  .main-nav {
    display: block;
  }

  .logo__button-nav {
    &-open,
    &-close {
      display: none;
    }
  }

  .main-nav {
    width: 623px;
    margin-bottom: 0;
  }

  .page-header__nav-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    justify-content: space-between;
  }

  .menu__item--active {
    background-image: linear-gradient(to bottom, transparent 75px, #ffffff 75px, #ffffff 77px, transparent 77px);
  }

  .menu__link {
    display: block;
    padding: 46px 0;

    line-height: 18px;
    font-weight: normal;
    text-transform: capitalize;

    background-color: transparent;
    box-shadow: none;

    &[href]:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}





// HEADER PROMO BLOCK /////





.header-apps {
  margin-top: 396px;
  padding: 28px 20px 31px 20px;
}

.apps {
  background-color: #1d2631;
}

.apps__slogan {
  display: none;
  margin: 0;
}

.apps__button {
  display: block;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 33px;
  padding: 16px 0;

  box-sizing: border-box;

  line-height: 18px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;

  border: 3px solid #ffffff;
  border-radius: 30px;
  &:hover {
    color: $color-pink;
    background-color: #ffffff;
  }

  &:active {
    color: rgba($color-pink, 0.3);
    background-color: #ffffff;
  }
}

.apps__list {
  margin: 0 auto;
  margin-bottom: 17px;
}

.apps-download {
  display: block;
  box-sizing: border-box;
  width: 280px;

  text-align: center;
}

.apps-download__item {
  display: inline-block;
  padding-right: 31px;

  &:last-child {
    padding-right: 0;
  }
}

.apps-download__link {
  display: block;

  &--apple {
    width: 47px;
    height: 56px;
    background: url("../img/sprites/sprite.svg#apple-icon") center no-repeat;
    background-size: cover;

  }

  &--android {
    width: 43px;
    height: 47px;
    background: url("../img/sprites/sprite.svg#android-icon") center no-repeat;
    background-size: cover;
  }

  &--microsoft {
    width: 44px;
    height: 41px;
    background: url("../img/sprites/sprite.svg#microsoft-icon") center no-repeat;
    background-size: cover;
  }
}

.apps__info {
  max-width: 280px;
  margin: 0 auto;

  font-size: 14px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

@media (min-width: $tablet-screen) {
  .header-apps {
    position: relative;
    z-index: 1;

    margin: 0;
    padding: 96px 0 105px 0;
  }

  .apps {
    width: 300px;

    background-color: transparent;
  }

  .apps__slogan {
    display: block;
    max-width: 190px;
    margin: 0 auto;
    margin-bottom: 32px;

    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
  }

  .apps__button {
    margin-bottom: 46px;
  }

  .apps__list {
    margin-bottom: 31px;
  }

  .apps-download {
    width: 225px;
  }
}

@media (min-width: $desktop-screen) {
  .header-apps {
    padding: 111px 0 112px 0;
  }

  .apps__slogan {
    display: block;
    max-width: 240px;
    margin: 0 auto;
    margin-bottom: 47px;

    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
  }

  .apps__button {
    margin-bottom: 67px;
  }

  .apps__list {
    margin-bottom: 61px;
  }
}


// PAGE-MAIN FEATURES BLOCK /////




.features {
  padding-top: 43px;
}

.features__slogan {
  display: block;
  max-width: 220px;
  margin: 0 auto;
  padding-bottom: 36px;

  font-size: 24px;
  line-height: 1.2;
  color: $color-blue;
  font-weight: 300;
  text-align: center;

  &--second-line {
    display: block;
    padding-top: 26px;
  }
}

.features__wrap {
  position: relative;

  display: block;
  padding: 82px 20px 315px 20px;

  background-color: #f2f2f2;

  overflow: hidden;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 32px;

    background-image: linear-gradient(to right bottom, #ffffff 50%, #f2f2f2 50%);
  }

  &::after {
    content: "";

    position: absolute;
    bottom: -43px;
    left: 50%;

    width: 156px;
    height: 320px;
    margin-left: -78px;

    background-image: url("../img/feature-desktop-3.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
  }
}

.feature__title {
  display: block;
  margin: 0;
  padding-bottom: 12px;

  font-weight: bold;
  text-align: center;
}

.feature__description {
  display: block;
  max-width: 262px;
  margin: 0 auto;
  padding-bottom: 32px;

  font-size: 14px;
  color: $color-blue;
  text-align: center;
}

.feature__item:last-child .feature__description {
  padding-bottom: 0;
}

.feature__research {
  display: none;
}

@media (min-width: $tablet-screen) {
  .features {
    padding-top: 53px;
  }

  .features__slogan {
    max-width: 590px;
    padding-bottom: 43px;

    font-size: 40px;

    &--second-line {
      max-width: 580px;
      padding-top: 0;
    }
  }

  .features__wrap {
    padding-top: 73px;
    padding-bottom: 38px;

    &::before {
      height: 50px;
    }

    &::after {
      background: none;
    }
  }

  .features__list {
    position: relative;

    display: block;
    width: 310px;
    margin: 0 auto;

    padding-left: 310px;

    &::after {
      content: "";

      position: absolute;
      top: -68px;
      left: 0;

      width: 265px;
      height: 547px;

      background-image: url("../img/feature-desktop-3.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .feature__title {
    padding-bottom: 13px;

    text-align: left;
  }

  .feature__description {
    max-width: 310px;
    margin: 0;
    padding-bottom: 35px;
    text-align: left;
  }

  .feature__research {
    display: block;
    padding: 96px 20px 26px 20px;
  }

  .research-feature__wrap {
    position: relative;

    width: 310px;
    margin: 0 auto;
    padding-left: 310px;

    &::before {
      content: "";

      position: absolute;
      top: -37px;
      left: 0;

      width: 239px;
      height: 276px;

      background-image: url("../img/research-icon.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
    }
  }

  .research-feature__title {
    max-width: 122px;
    margin: 0;
    padding-bottom: 10px;

    font-size: 30px;
    line-height: 36px;

    &--second-line {
      white-space: nowrap;
    }
  }

  .research-feature__description {
    max-width: 296px;
    margin: 0;
    padding-bottom: 9px;

    font-size: 14px;
    color: $color-blue;
  }

  .research-feature__link-more {
    font-size: 14px;
    color: $color-pink;
    &:hover {
      color: #000000;
    }
    &:active {
      color: rgba(#000000, 0.3);
    }
  }
}

@media (min-width: $desktop-screen) {
  .features {
    padding-top: 68px;
  }

  .features__slogan {
    max-width: 735px;
    padding-bottom: 78px;

    font-size: 50px;

    &--second-line {
      max-width: 425px;
      margin: 0 auto;
      padding-top: 0;
    }
  }

  .features__wrap {
    padding: 298px 0 0 0;
    overflow: visible;

    &::before {
      height: 92px;
    }
  }

  .features__list {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: auto;
    padding: 0 10px;

    &::after {
      background: none;
    }
  }

  .feature__item {
    position: relative;

    width: 300px;
    padding-top: 54px;

    &::before {
      content: "";

      position: absolute;
      top: -375px;
      left: 50%;

      width: 186px;
      height: 382px;
      margin-left: -93px;

      background-repeat: no-repeat;
      background-position: 0 78px;
    }

    &::after {
      content: "";

      position: absolute;
      top: -9px;
      left: 50%;

      width: 294px;
      height: 17px;
      margin-left: -147px;

      background-image: url("../img/feature-desktop-shadow.png");

      background-repeat: no-repeat;
      background-position: 0 8px;
    }

    &:first-child::before {
      background-image: url("../img/feature-desktop-1.png");
    }

    &:nth-child(2)::before {
      background-image: url("../img/feature-desktop-2.png");
    }

    &:last-child::before {
      background-image: url("../img/feature-desktop-3.png");
    }
  }

  .feature__title {
    max-width: 225px;
    margin: 0 auto;
    padding-bottom: 22px;

    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .feature__description {
    max-width: 240px;
    margin: 0 auto;
    padding-bottom: 0;

    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .feature__research {
    position: relative;

    display: block;
    padding: 159px 0 113px 0;
  }

  .research-feature {
    background: #f2f2f2;
  }

  .research-feature__wrap {
    width: 570px;
    padding-left: 370px;
    margin: 0 auto;

    &::before {
      top: -94px;
      left: 0;

      width: 300px;
      height: 345px;
    }
  }

  .research-feature__title {
    max-width: 550px;
    padding-bottom: 24px;

    font-size: 30px;
    line-height: 30px;

    &--second-line {
      white-space: wrap;
    }
  }

  .research-feature__description {
    max-width: 570px;
    padding-bottom: 31px;

    font-size: 18px;
    line-height: 30px;
  }

  .research-feature__link-more {
    font-size: 18px;
    line-height: 30px;
  }
}




// MAIN-PAGE REVIEWS BLOCK /////





.reviews {
  position: relative;
}

.reviews__wrapper {
  padding-top: 43px;
  padding-bottom: 87px;
}

.reviews__item {
  margin: 0;
}

.reviews__author-name {
  display: block;
  margin: 0 auto;
  padding-bottom: 17px;

  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.reviews__text {
  display: block;
  max-width: 280px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 30px;
  color: $color-blue;
  text-align: center;
}

.reviews__author-info {
  display: none;
}

.reviews__toggles {
  position: absolute;
  bottom: 42px;
  left: 50%;
}

.slider-toggles {
  display: block;
  width: 65px;
  margin-left: -32px;
}

.slider-toggles__item {
  display: inline-block;
  width: 15px;
}

.slider-toggles__switch {
  display: block;

  width: 6px;
  height: 6px;
  padding: 0;

  background-color: rgba($color-blue, 0.3);

  border: 3px solid #ffffff;
  border-radius: 50%;

  &:hover {
    background-color: rgba($color-blue, 0.6);
  }

  &:active {
    background-color: rgba($color-blue, 0.1);
  }

  &--active,
  &--active:hover,
  &--active:active {
    background-color: #ffffff;;
    border: 3px solid $color-blue;
  }
}

.slider-arrows {
  display: none;
}

@media (min-width: $tablet-screen) {
  .reviews__wrapper {
    padding-top: 100px;
    padding-bottom: 66px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;

  }

  .reviews__author-name {
    order: 2;
    padding-bottom: 3px;

    font-size: 20px;
  }

  .reviews__text {
    order: 1;
    max-width: 620px;
    padding-bottom: 34px;

    font-size: 18px;
  }

  .reviews__author-info {
    display: block;
    margin: 0;
    order: 3;

    font-size: 14px;
    line-height: 30px;
    color: $color-blue;
    text-align: center;
  }

  .reviews__toggles {
    bottom: 21px;
  }
}

@media (min-width: $desktop-screen) {
  .reviews__wrapper {
    position: relative;

    padding-top: 186px;
    padding-bottom: 41px;

    &::before {
      content: "";

      position: absolute;
      top: 72px;
      left: 50%;

      width: 77px;
      height: 63px;

      background-image: url("../img/sprites/sprite.svg#quotes");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      transform: translateX(-50%);
    }
  }

  .reviews__author-name {
    padding-bottom: 3px;

    font-size: 24px;
  }

  .reviews__text {
    max-width: 690px;
    padding-bottom: 35px;
  }

  .reviews__author-info {
    font-size: 18px;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__arrow-toggles {
    position: relative;
  }

  .slider-arrows {
    display: block;
    width: 940px;
    margin: 0 auto;
  }

  .slider-arrows__switch {
    position: absolute;
    top: -153px;

    display: block;
    width: 24px;
    height: 24px;
    background-color: transparent;

    border: 3px solid rgba($color-blue, 0.3);

    cursor: pointer;

    &--next {
      right: 0;
      border-left-color: transparent;
      border-top-color: transparent;

      transform: rotate(-45deg);
    }

    &--back {
      left: 0;
      border-right-color: transparent;
      border-top-color: transparent;

      transform: rotate(45deg);
    }

    &--next:hover {
      border-right-color: rgba($color-blue, 0.6);
      border-bottom-color: rgba($color-blue, 0.6);
    }

    &--back:hover {
      border-left-color: rgba($color-blue, 0.6);
      border-bottom-color: rgba($color-blue, 0.6);
    }

    &--next:active {
      border-right-color: rgba($color-blue, 0.1);
      border-bottom-color: rgba($color-blue, 0.1);
    }

    &--back:active {
      border-left-color: rgba($color-blue, 0.1);
      border-bottom-color: rgba($color-blue, 0.1);
    }
  }
}




// MAIN-PAGE PRICES BLOCK /////





.prices__wrapper {
  position: relative;

  padding: 91px 20px 99px 20px;

  background-color: #f2f2f2;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 25px;

    background-image: linear-gradient(to right bottom, #ffffff 50%, #f2f2f2 50%);
  }
}

.prices__list {
  position: relative;
}

.tariffs-list {
  display: flex;

  overflow: hidden;
}

.tariffs-list__item {
  position: relative;

  width: 100%;

  flex-shrink: 0;
  box-sizing: border-box;

  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;

  &--base {
    top: 0;
    left: -95%;
  }

  &--standard {
    top: 0;
    left: -95%;
  }

  &--unlim {
    top: 0;
    right: 95%;
  }
}

.tariffs-list__item--wide {
  display: none;
}

.tariffs-list__item-active {
  width: 91%;

  margin: 0 auto;
}

.tariffs-list__item--hit {

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: -2px;

    width: 73px;
    height: 73px;

    background-image: linear-gradient(135deg, transparent 25%, #d22856 25%, #d22856 50%, transparent 50%, transparent);
  }

  &::after {
    content: "хит";

    position: absolute;
    top: 13px;
    left: 9px;

    font: inherit;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;

    transform: rotate(-45deg);
  }
}

.tariff__title {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 2px;

  line-height: 30px;
  color: #ffffff;
  text-align: center;

  background-color: $color-blue;
}

.tariff__cost {
  display: block;
  padding-bottom: 19px;

  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;

  background-color: $color-blue;
}

.tariff__table {
  border-collapse: collapse;
  width: 100%;
}

.tariff__feature {
  width: 77%;
  padding: 15px 0 14px 22px;

  font-size: 14px;
  line-height: 30px;
  color: $color-blue;
  text-align: left;

  border-bottom: 2px solid #e5e5e5;
}

.tariff__availability {
  position: relative;

  width: 33%;
  padding: 0;

  border-bottom: 2px solid #e5e5e5;

  &--yes::before {
    content: "";

    position: absolute;
    top: 20px;
    right: 17px;

    width: 31px;
    height: 21px;

    background-image: url("../img/sprites/sprite.svg#tariff-yes");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &--no::before {
    content: "";

    position: absolute;
    top: 15px;
    right: 19px;

    width: 27px;
    height: 26px;

    background-image: url("../img/sprites/sprite.svg#tariff-no");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.prices__toggles {
  position: absolute;
  bottom: 47px;
  left: 50%;
}

.slider-toggles__switch--grey {
  border-color:#f2f2f2;

  &--active,
  &--active:hover,
  &--active:active {
    background-color: #f2f2f2;
    border: 3px solid $color-blue;
  }
}

@media (min-width: $tablet-screen) {

  .tariffs-list {
    @include container-tablet;
  }

  .prices__wrapper {

    padding: 88px 20px 68px 20px;

    &::before {
      height: 51px;
    }
  }

  .tariffs-list__item--wide {
    display: block;
  }

  .tariffs-list__item {
    position: relative;

    width: 25%;

    flex-shrink: 0;

    &:first-child {
      border: none;
    }

    &--base {
      top: 0;
      left: 0;
    }

    &--standard {
      top: 0;
      left: 0;
    }

    &--unlim {
      top: 0;
      right: 0;
    }
  }

  .tariffs-list__item-active {
    width: 25%;
  }

  .tariff__title {
    padding-top: 12px;
    padding-bottom: 0;

    font-style: 16px;
  }

  .tariff__cost {
    padding-bottom: 9px;

    font-size: 18px;
    line-height: 30px;
  }

  .tariff__table--wide {
    margin-top: 79px;
  }

  .tariff__feature--wide {
    padding: 7px 0 8px 15px;

    font-size: 14px;
    line-height: 30px;
    color: $color-blue;
    text-align: left;

    border: 2px solid #e7e7e7;
  }

  .tariff__feature {
    display: none;
  }

  .tariff__availability {
    width: 100%;
    height: 45px;

    &--yes::before {
      top: 50%;
      right: 50%;

      margin-top: -10px;
      margin-right: -15px;

    }

    &--no::before {
      top: 50%;
      right: 50%;

      margin-top: -13px;
      margin-right: -13px;

    }
  }

  .prices__toggles {
    display: none;
  }
}

@media (min-width: $desktop-screen) {

  .tariffs-list {
    @include container-desktop;
  }

  .prices__wrapper {

    padding: 148px 10px 95px 10px;

    &::before {
      height: 81px;
    }
  }

  .tariffs-list__item--wide {
    display: block;
  }

  .tariffs-list__item {
    position: relative;

    width: 25%;

    flex-shrink: 0;

    &:first-child {
      border: none;
    }

    &--base {
      top: 0;
      left: 0;
    }

    &--unlim {
      top: 0;
      right: 0;
    }
  }

  .tariffs-list__item-active {
    width: 25%;
  }

  .tariff__title {
    padding-top: 17px;
    padding-bottom: 3px;

    font-style: 16px;
  }

  .tariff__cost {
    padding-bottom: 19px;

    font-size: 24px;
    line-height: 30px;
  }

  .tariff__table--wide {
    margin-top: 97px;
  }

  .tariff__feature--wide {
    padding: 14px 0 15px 24px;

    font-size: 18px;
    line-height: 30px;
    color: $color-blue;
    text-align: left;

    border: 2px solid #e7e7e7;
  }

  .tariff__feature {
    display: none;
  }

  .tariff__availability {
    width: 100%;
    height: 59px;

    &--yes::before {
      top: 50%;
      right: 50%;

      margin-top: -10px;
      margin-right: -15px;
    }

    &--no::before {
      top: 50%;
      right: 50%;

      margin-top: -13px;
      margin-right: -13px;
    }
  }

  .prices__toggles {
    display: none;
  }
}




// MAIN-PAGE CONTACTS BLOCK /////




.contacts__wrapper {
  padding: 43px 20px 38px 20px;
}

.contacts__text {
  display: block;
  padding-bottom: 35px;
  max-width: 225px;
  margin: 0 auto;

  font-size: 24px;
  line-height: 1.2;
  color: $color-blue;
  font-weight: 300;
  text-align: center;
}

.contacts__list {
  display: block;
}

.contacts__item {
  padding-bottom: 24px;

  text-align: center;

  &:last-child {
    padding-bottom: 0;
  }
}

.contact__title {
  margin: 0;

  padding-bottom: 4px;

  line-height: 1.2;
  color: $color-blue;
}

.contact__info {
  margin: 0;

  font-size: 24px;
  line-height: 1.2;
  color: $color-pink;
  font-weight: 300;
}

.contact__info-link {
  color: $color-pink;
  text-decoration: none;

  &:hover {
    color: $color-blue;
  }

  &:active {
    color: rgba($color-blue, 0.3);
  }
}

.contacts__map {
  position: relative;

  width: 100%;
  height: 200px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 50%;
    height: 32px;

    background-image: linear-gradient(to bottom left, #ffffff, #ffffff 50%, transparent 50%);
  }

  &::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    width: 50%;
    height: 32px;

    background-image: linear-gradient(to bottom right, #ffffff, #ffffff 50%, transparent 50%);
  }
}

.contacts__map-iframe {
  width: 100%;
  height: 100%;

  border: none;
}

@media (min-width: $tablet-screen) {
  .contacts__wrapper {
    @include container-tablet;

    padding-top: 47px;
    padding-bottom: 28px;
  }

  .contacts__text {
    padding-bottom: 44px;
    max-width: 370px;

    font-size: 40px;
    line-height: 1.2;
  }

  .contacts__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
  }

  .contacts__item {
    padding-bottom: 49px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .contact__title {
    padding-bottom: 5px;
  }

  .contacts__map {
    height: 374px;

    &::before {
      height: 69px;
    }

    &::after {
      height: 69px;
    }
  }
}

@media (min-width: $desktop-screen) {
  .contacts__wrapper {
    @include container-desktop;

    padding-top: 65px;
    padding-bottom: 21px;
  }

  .contacts__text {
    padding-bottom: 57px;
    max-width: 463px;

    font-size: 50px;
    line-height: 1.2;
  }

  .contacts__list {
    display: flex;
    justify-content: space-around;
  }

  .contacts__item {
    display: block;
    width: 250px;
    padding-bottom: 0;

    &:first-child {
      padding-right: 0;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:last-child {
      order: 2;
      padding-bottom: 0;

      .contact__info {
        display: inline-block;
        max-width: 215px;
      }
    }
  }

  .contact__title {
    padding-bottom: 24px;
  }

  .contacts__map {
    height: 489px;

    &::before {
      height: 104px;
    }

    &::after {
      height: 104px;
    }
  }
}





// FOOTER-PAGE BLOCK /////





.page-footer--main-page {
  display: none;
}

.page-footer {
  @include container-mobile;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer--main-page {
  display: none;
}

.page-footer-logo {
  margin-bottom: 40px;
}

.footer-logo__icon {
  display: block;

  &--tablet {
    width: 147px;
    height: 40px;
  }

  &--tablet:hover {
    fill: $color-pink;
  }

  &--tablet:active {
    fill: #000000;
    opacity: 0.3;
  }

  &--desktop {
    display: none;
  }
}

.footer-social__list {
  margin-bottom: 40px;
}

.social {
  display: flex;
  justify-content: space-between;
}

.social__item {
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  position: relative;

  display: block;
  width: 45px;
  height: 45px;

  background-color: #ffffff;

  border: 3px solid rgba($color-blue, 0.1);
  border-radius: 50%;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &--twitter::before {
    width: 18px;
    height: 14px;
    margin-top: -7px;
    margin-left: -9px;

    background-image: url("../img/sprites/sprite.svg#social-twitter");
  }

  &--facebook::before {
    width: 9px;
    height: 18px;
    margin-top: -9px;
    margin-left: -4px;

    background-image: url("../img/sprites/sprite.svg#social-facebook");
  }

  &--youtube::before {
    width: 15px;
    height: 13px;
    margin-top: -6px;
    margin-left: -7px;

    background-image: url("../img/sprites/sprite.svg#social-youtube");
  }

  &:hover {
    border-color: $color-blue;
  }

  &:active {
    border-color: rgba($color-blue, 0.1);
  }

  &:active::before {
    opacity: 0.1;
  }
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright__text {
  margin-right: 15px;

  font-size: 14px;
  line-height: 18px;
  color: $color-blue;
  font-weight: normal;
}

.copyright__logo-icon {
  display: block;
  width: 27px;
  height: 34px;

  fill: $color-pink;

  &:hover {
    fill: $color-blue;
  }

  &:active {
    fill: rgba($color-blue, 0.3);
  }
}

@media (min-width: $tablet-screen) {

  .page-footer {
    @include container-tablet;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .page-footer-logo {
    margin-bottom: 0;
  }

  .footer-social__list {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-screen) {

  .page-footer {
    @include container-desktop;
    padding-top: 70px;
    padding-bottom: 72px;
  }

  .footer-logo__icon {

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
      width: 147px;
      height: 40px;
    }

    &--desktop:hover {
      fill: $color-pink;
    }

    &--desktop:active {
      fill: #000000;
      opacity: 0.3;
    }
  }

  .copyright__text {
    margin-right: 14px;

    font-size: 18px;
  }
}





/* PHOTO.HTML */



// Header section





.page-header--inner-page {
  height: 237px;

  &::before {
    display: none;
  }
}

.page-header__title {
  display: block;
  max-width: 175px;
  margin: 0 auto;
  padding: 32px 0 83px 0;

  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

@media (min-width: $tablet-screen) {
  .page-header--inner-page {
    height: 440px;

    background-size: 200%;

    background-position: center top;
  }

  .page-header__title {
    max-width: 355px;
    padding: 71px 0 139px 0;

    font-size: 50px;
  }
}

@media (min-width: $desktop-screen) {
  .page-header--inner-page {
    height: 394px;
  }

  .page-header__title {
    max-width: 355px;
    padding: 64px 0 100px 0;

    font-size: 50px;
  }
}





// Photo-posts section






.photo-posts__intro {
  max-width: 245px;
  margin: 0 auto;
  padding: 46px 0;

  font-size: 14px;
  line-height: 30px;
  color: $color-blue;
  text-align: center;

  background-color: #ffffff;

}

.photo-posts__best {
  position: relative;
  width: 100%;
  height: 180px;

  overflow: hidden;

  &::before {
    content: "Панорама дня";

    position: absolute;
    top: 0;
    right: 20px;

    display: block;
    width: 140px;
    padding: 6px 0;

    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    background: $color-pink;
  }
}

.photo-posts__best-img {
  width: 100%;
  height: 100%;
}

.photo-posts__list {
  @include container-mobile;
}

.photo_posts__item {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

.photo-posts__img-wrap {
  display: block;
  width: 280px;
  height: 180px;

  overflow: hidden;
}

.photo-posts__img {
  position: relative;
  bottom: 55%;
  left: 0;

  width: 100%;
  height: auto;
}

.photo_posts__comment {
  display: flex;
  flex-direction: column;
  margin: 0;

  padding: 18px 10px 21px 18px;

  background-color: #f2f2f2;
}

.photo_posts__author-name {
  padding-bottom: 2px;

  font-size: 14px;
  color: $color-blue;
  font-weight: bold;
  font-style: normal;
}

.photo_posts__post-time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photo_posts__text {
  max-width: 240px;
  margin: 0;
  padding-bottom: 7px;

  font-size: 14px;
  color: $color-blue;
}

.photo_posts__like-button {
  position: relative;

  padding-left: 32px;

  font-size: 12px;
  color: $color-pink;
  text-transform: uppercase;
  text-decoration: none;

  &::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 0;

    width: 13px;
    height: 12px;

    background-image: url("../img/sprites/sprite.svg#heart-icon");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.photo-posts__intro--afterwords {
  max-width: 255px;
  padding: 41px 0;
}

@media (min-width: $tablet-screen) {
  .photo-posts__intro {
    max-width: 440px;
    padding: 93px 0 75px 0;

    font-size: 18px;
  }

  .photo-posts__best {
    height: 509px;

    &::before {
      top: 57px;
    }
  }

  .photo-posts__best-img {
    width: 100%;
    height: 100%;
  }

  .photo-posts__list {
    @include container-tablet;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photo_posts__item {
    width: 300px;

    &:nth-child(-n + 3) {
      margin-top: 0;
    }

    &--best {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  .photo-posts__img-wrap {
    width: 300px;
    height: 300px;
  }

  .photo-posts__img {
    bottom: 18%;
  }

  .photo_posts__comment {
    padding: 24px 10px 24px 27px;
    flex-grow: 1;

    &--best {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 24px;
    }
  }

  .photo_posts__author-name {
    padding-bottom: 0;
  }

  .photo_posts__text {
    max-width: 240px;


    &--best {
      order: 3;

      max-width: 510px;
    }
  }

  .photo_posts__like-button {
    margin-top: auto;
    padding-left: 0;

    &::before {
      left: 227px;
    }

    &--best {
      width: 118px;
      padding-right: 19px;
      order: 2;
    }

    &--best::before{
      top: 5px;
      left: 105px;
    }
  }

  .photo-posts__intro--afterwords {
    max-width: 425px;
    font-size: 18px;
    padding: 66px 0 69px 0;
  }
}

@media (min-width: $desktop-screen) {
  .photo-posts__intro {
    max-width: 575px;
    padding: 93px 0 84px 0;
  }

  .photo-posts__best {
    height: 506px;

    &::before {
      top: 54px;
    }
  }

  .photo-posts__list {
    @include container-desktop;
  }

  .photo_posts__item {

    &:nth-child(-n + 4) {
      margin-top: 0;
    }

    &--best {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  .photo-posts__img-wrap {
    width: 300px;
    height: 400px;
  }

  .photo-posts__img {
    bottom: 0;
  }

  .photo_posts__text {

    &--best {
      max-width: 865px;
    }
  }

  .photo_posts__like-button {

    &--best {
      padding-right: 21px;
    }

    &--best::before{
      top: 5px;
      left: 105px;
    }
  }

  .photo-posts__intro--afterwords {
    padding: 60px 0 65px 0;
  }
}




// Photo-editor section




.photo-editor {
  height: 737px;
  padding-top: 20px;

  background-color: #f2f2f2;
}

.photo-editor__wrapper {
  display: flex;
  flex-direction: column;

}

.photo-editor__img-wrap {
  width: 280px;
  height: 374px;
  margin: 0 auto;
  padding-bottom: 42px;

  overflow: hidden;
}

.photo-editor__img {
  width: 100%;
  height: 100%;
}

.tools__list {
  position: relative;

  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 38px;
  padding-bottom: 75px;

  border-bottom: 1px solid rgba($color-blue, 0.1);
}

.tools__item {
  margin-right: 34px;

  &:last-child {
    margin-right: 0;
  }
}

.tools__button {
  display: block;
  width: 48px;
  height: 44px;
  padding: 0;

  background-color: transparent;

  border: none;
}

.tools__button-icon {
  cursor: pointer;

  fill: rgba($color-blue, 0.3);

  &--crop {
    width: 44px;
    height: 44px;
  }

  &--fill {
    padding-top: 3px;
    width: 48px;
    height: 43px;
  }

  &--contrast {
    padding-top: 4px;
    width: 32px;
    height: 32px;
  }

  &:hover {
    fill: rgba($color-blue, 0.5);
  }

  &--active,
  &--active:hover {
    fill: $color-pink;
  }
}

.range {
  display: none;

  width: 240px;
  height: 2px;

  background-color: $color-blue;

  &--active {
    position: absolute;
    top: 83px;
    left: 50%;

    margin-left: -120px;

    display: block;
  }
}

.range__control {
  position: absolute;
  top: -6px;
  right: 33px;
  z-index: 1;

  width: 10px;
  height: 10px;

  background-color: #f2f2f2;

  border: 2px solid $color-pink;
  border-radius: 50%;

  cursor: pointer;

  &:active {
    background-color: $color-pink;
  }
}

.tools__upload-button {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 12px;
  padding: 16px 0 15px 0;

  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: $color-pink;
  text-align: center;

  background-color: transparent;

  border: 3px solid $color-pink;
  border-radius: 30px;

  cursor: pointer;

  &--cancel {
    color: rgba($color-blue, 0.1);

    border-color: rgba($color-blue, 0.1);

    margin-bottom: 0;
  }

  &:hover {
    color: #ffffff;
    background-color: $color-pink;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
    background-color: $color-pink;
  }

  &--cancel:hover  {
    color: rgba($color-blue, 0.3);

    background-color: transparent;
    border-color: rgba($color-blue, 0.3);
  }

  &--cancel:active {
    color: rgba(#ffffff, 0.3);

    background-color: rgba($color-blue, 0.3);
    border-color: transparent;;
  }
}

@media (min-width: $tablet-screen) {
  .photo-editor {
    height: 454px;
    padding-top: 57px;
  }

  .photo-editor__wrapper {
   @include container-tablet;

  flex-direction: row;
  justify-content: space-between;
  }

  .photo-editor__img-wrap {
    width: 300px;
    height: 400px;
    margin: 0;

    padding-bottom: 0;
  }

  .tools {
    width: 275px;
  }

  .tools__list {
    flex-direction: column;

    margin-bottom: 67px;
    padding-bottom: 0;

    border-bottom: none;
  }

  .tools__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-right: 0;

    margin-bottom: 26px;
    padding-bottom: 24px;

    border-bottom: 1px solid rgba($color-blue, 0.1);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .tools__button {
    width: 24px;
    height: 24px;
  }

  .tools__button-icon {
    fill: $color-pink;

    &--crop {
      width: 22px;
      height: 22px;
    }

    &--fill {
      padding-top: 0;
      width: 24px;
      height: 22px;
    }

    &--contrast {
      padding-top: 0;
      width: 16px;
      height: 16px;
    }

    &:hover {
      fill: $color-pink;
    }
  }

  .range {
    position: relative;

    display: block;
    width: 202px;
    margin-right: 18px;


    &--active {
      top: 0;
      left: 0;

      margin-left: 0;
    }
  }

  .range__control {

    &--crop-position {
      right: 42px;
    }

    &--fill-position {
      right: 163px;
    }

    &--contrast-position {
      right: 92px;
    }
  }

  .tools__upload-button {
    width: 260px;
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-screen) {
  .photo-editor {
    height: 514px;
    padding: 0;


    background-color: #ffffff;
  }

  .photo-editor__wrapper {
  @include container-desktop;

  flex-direction: row;
  justify-content: space-between;
  width: 920px;
  padding: 56px 0 57px 0;

  background-color: #f2f2f2;
  }

  .photo-editor__img-wrap {
    margin: 0 auto;
  }

  .tools {
    width: 410px;
    margin-right: 50px;
  }

  .tools__list {
    margin-bottom: 146px;
  }

  .tools__item {
    margin-bottom: 13px;
    padding-bottom: 13px;

    border-bottom: 1px solid rgba($color-blue, 0.1);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .tools__button {
    width: 48px;
    height: 44px;
  }

  .tools__button-icon {

    &--crop {
      width: 44px;
      height: 44px;
    }

    &--fill {
      padding-top: 3px;
      width: 48px;
      height: 43px;
    }

    &--contrast {
      padding-top: 4px;
      width: 32px;
      height: 32px;
    }
  }

  .range {
    position: relative;

    display: block;
    width: 288px;
    margin-right: 30px;


    &--active {
      top: 0;
      left: 0;

      margin-left: 0;
    }
  }

  .range__control {

    &--crop-position {
      right: 203px;
    }

    &--fill-position {
      right: 27px;
    }

    &--contrast-position {
      right: 114px;
    }
  }

  .tools__upload-button {
    display: inline-block;
    width: 183px;
    margin-bottom: 0;

    &--cancel {
      margin-left: 39px;
    }
  }
}




/* FORM.HTML */



// Header section





.page-header__title--form-page {
  max-width: 230px;
  padding: 29px 0 46px 0;
}

@media (min-width: $tablet-screen) {

  .page-header__title {
    max-width: 475px;
    padding: 72px 0 80px 0;
  }
}

@media (min-width: $desktop-screen) {

  .page-header__title {
    max-width: 750px;
    padding: 65px 0 101px 0;

  }
}




// Form section




.contest-form {
  padding: 46px 0 15px 0;
}

.form-intro {
  @include container-mobile;

  font-size: 14px;
  line-height: 30px;
  color: $color-blue;
}

.form-intro__text {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-position {
  padding-top: 33px;
}

.form__label {
  font-size: 14px;
  line-height: 30px;
  color: $color-pink;
  text-transform: uppercase;
}

.form__label-switches {
  font-size: 14px;
  line-height: 30px;
  color: $color-blue;
}

.form__legend {
  font-size: 14px;
  line-height: 30px;
  color: $color-pink;
  text-transform: uppercase;
  text-align: center;
}

.form__input {
  display: block;
  width: 280px;

  padding: 14px 21px 15px 21px;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 30px;
  color: $color-blue;

  border: 2px solid #e5e5e5;
  border-radius: 3px;

  &:hover {
    border-color: $color-blue;
  }

  &:focus {
    border-color: $color-pink;

    outline: none;
  }
}

.full-name-group {
  margin: 0 auto;
  margin-bottom: 42px;
  padding: 0 20px;

}

.full-name-group__item {
  margin-bottom: 17px;

  &:last-child {
    margin-bottom: 0;
  }
}

.full-name-group__label {
  padding-left: 24px;
  padding-bottom: 5px;
}

.achievements {
  position: relative;

  margin: 0;
  padding: 113px 0 42px 0;

  border: none;

  &--gray {
    background-color: #f2f2f2;
  }
}

.achievements__title {
  position: absolute;
  top: 34px;
  left: 50%;

  width: 220px;
  margin-left: -110px;
}

.achievements__list {
  @include container-mobile;
}

.achievements__item {
  margin-bottom: 43px;

  &:last-child {
    margin-bottom: 0;
  }
}

.achievements__name {
  position: relative;

  padding-left: 71px;
}

.achievements__checkbox {

  + .achievements__name {

    &::before {
      content: "";

      position: absolute;
      top: -9px;
      left: 0;

      width: 35px;
      height: 35px;

      background-color: #ffffff;

      border: 2px solid #e5e5e5;
      border-radius: 3px;
    }

    &:hover::before {
      border-color:$color-blue;
    }

    &:active::before {
      border-color:$color-pink;
    }
  }
}

.achievements__checkbox:checked {

  + .achievements__name {

    &::after {
      content: "";

      position: absolute;
      top: 1px;
      left: 8px;

      width: 16px;
      height: 4px;


      background-color: transparent;

      border: 4px solid $color-pink;
      border-top-color: transparent;
      border-right-color: transparent;

      border-radius: 5px 0 5px 0;

      transform: rotate(-45deg);
    }
  }
}

.achievements__checkbox:disabled {

  + .achievements__name {

    &::before {
      border-color: rgba($color-blue, 0.1);
    }
  }
}

.achievements__checkbox:disabled:checked {

  + .achievements__name {

    &::after {
      border-bottom-color: rgba($color-blue, 0.1);
      border-left-color: rgba($color-blue, 0.1);
    }
  }
}


.contact-info {
  position: relative;

  margin: 0;
  padding: 33px 0 42px 0;

  border: none;
}

.contact-info__title {
  display: none;
}

.contact-info__list {
  @include container-mobile;
}

.contact-info__item {
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contact-info__label {
  padding-bottom: 6px;
}

.app-platform {
  position: relative;

  margin: 0;
  padding: 109px 0 42px 0;

  border: none;

  &--gray {
    background-color: #f2f2f2;
  }
}

.app-platform__title {
  position: absolute;
  top: 34px;
  left: 50%;

  width: 180px;
  margin-left: -90px;
}

.app-platform__list {
  @include container-mobile;
}

.app-platform__item {
  margin-bottom: 44px;

  &:last-child {
    margin-bottom: 0;
  }
}

.app-platform__radio {

  + .app-platform__name {
    position: relative;

    padding-left: 71px;

    &::before {
      content: "";

      position: absolute;
      top: -10px;
      left: 0;

      width: 35px;
      height: 35px;

      background-color: #ffffff;

      border: 2px solid #e5e5e5;
      border-radius: 50%;
    }

    &:hover::before {
      border-color: $color-blue;
    }

    &:active::before {
      border-color: $color-pink;
    }
  }
}

.app-platform__radio:checked {

  + .app-platform__name {

    &::after {
      content: "";

      position: absolute;
      top: 2px;
      left: 11px;

      width: 15px;
      height: 15px;

      background-color: $color-pink;
      border-radius: 50%;
    }
  }
}

.app-platform__radio:disabled {

  + .app-platform__name {

    &::before {
      border-color: rgba($color-blue, 0.1);
    }
  }
}

.app-platform__radio:disabled:checked {

  + .app-platform__name {

    &::after {
      background-color: rgba($color-blue, 0.3);
    }
  }
}

.emotions {
  position: relative;

  margin: 0 auto;
  padding: 72px 0 48px 0;

  border: none;
}

.emotions__title {
  position: absolute;
  top: 34px;
  left: 50%;

  width: 186px;
  margin-left: -93px;
}

.emotion__message {
  height: 201px;

  resize: none;
}

.contest-form__button-wrap {
  @include container-mobile;
}

.contest-form__button {
  width: 280px;
  margin: 0 auto;
  padding: 16px 0 17px 0;

  font: inherit;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  background-color: #2aab6d;
  border: none;
  border-radius: 3px;

  cursor: pointer;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
    background-color: #1c9b5e;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.contest-form__button-position {
  margin-bottom: 35px;
}

.notice-text {
  margin: 0;

  font-size: 14px;
  line-height: 30px;
  color: $color-blue;
  text-transform: uppercase;
  text-align: center;
}

.notice-text__asterisk {
  color: $color-pink;
}


@media (min-width: $tablet-screen) {

  .contest-form {
    padding: 93px 0 53px 0;
  }

  .form-intro {
    @include container-tablet;

    max-width: 490px;

    font-size: 18px;
    text-align: center;
  }

  .form-intro__text {
    display: inline-block;
  }

  .form-position {
    @include container-tablet;

    padding-top: 70px;
  }

  .form__label-switches {
    font-size: 18px;
  }

  .form__input {
    width: 100%;

    font-size: 18px;
  }

  .full-name-group {
    margin: 0;
    margin-bottom: 52px;
    padding: 0;

  }

  .full-name-group__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .full-name-group__label {
    padding: 0 19px 0 0;
  }

  .app-platform {
    position: relative;

    order: 1;
    margin-bottom: 52px;
    padding: 68px 0 54px 0;

    border: 2px solid #e5e5e5;

    &--gray {
      background-color:#ffffff;
    }
  }

  .app-platform__title {
    position: relative;
    top: 0;
    left: 0;

    width: 368px;
    margin: 0;
    padding: 0;
  }

  .app-platform__list {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .app-platform__item {
    padding-left: 58px;
  }

  .contact-info {
    order: 2;
    margin-bottom: 65px;
    padding: 45px 0 25px 0;

    border: 2px solid #e5e5e5;
  }

  .contact-info__title {
    display: block;
    width: 260px;
    margin: 0;
    padding: 0;
  }

  .contact-info__list {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .contact-info__item {
    display: flex;
    flex-direction: column;

    width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;


    &:last-child {
      margin-bottom: 0;
    }
  }

  .contact-info__label {
    order: 2;
    padding: 11px 0 0 20px;
  }

  .form__input--contact-info {
    width: 440px;
    border-radius: 3px 0 0 3px;
  }

  .contact-info__input-wrap {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      width: 60px;
      height: 63px;

      background-color: #e5e5e5;
      border-radius: 0 3px 3px 0;
    }

    &::after {
      content: "";

      position: absolute;
      top: 50%;
      right: 22px;

      background: #e5e5e5;
    }

    &--phone::after {
      width: 20px;
      height: 19px;
      margin-top: -9px;

      background-image: url("../img/sprites/sprite.svg#phone-icon");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &--email::after {
      width: 18px;
      height: 13px;
      margin-top: -6px;

      background-image: url("../img/sprites/sprite.svg#email-icon");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .achievements {
    position: relative;

    order: 3;
    margin-bottom: 65px;
    padding: 52px 0 57px 0;

    border: 2px solid #e5e5e5;

    &--gray {
      background-color: #ffffff;
    }
  }

  .achievements__title {
    position: relative;
    top: 0;
    left: 0;

    width: 436px;
    margin: 0;
  }

  .achievements__list {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .achievements__item {
    width: 100%;

    margin-bottom: 52px;
    padding-left: 58px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .emotions {
    position: relative;

    order: 4;
    margin: 0;
    margin-bottom: 67px;
    padding: 45px 0 51px 0;

    border: 2px solid #e5e5e5;
  }

  .emotions__title {
    position: relative;
    top: 0;
    left: 0;

    width: 260px;
  }

  .emotion__message {
    width: 500px;
    height: 193px;
    margin: 0 auto;
  }

  .contest-form__button-wrap {
    width: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    order: 5;
  }

  .contest-form__button {
    width: 300px;
    margin: 0;
  }

  .contest-form__button-position {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-screen) {

  .contest-form {
    padding: 93px 0 38px 0;
  }

  .form-intro {
    @include container-desktop;
    max-width: 760px;
  }

  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-position {
    @include container-desktop;

    padding-top: 78px;
  }

  .full-name-group {
    width: 435px;
    margin: 0;
    margin-bottom: 65px;
    padding: 0;
    padding-top: 20px;

  }

  .full-name-group__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .app-platform {
    position: relative;

    order: 1;
    width: 435px;
    height: 313px;
    margin-bottom: 52px;
    padding: 41px 0 60px 0;

    box-sizing: border-box;

    border: 2px solid #e5e5e5;

    &--gray {
      background-color:#ffffff;
    }
  }

  .app-platform__title {
    position: relative;
    top: 0;
    left: 0;

    width: 368px;
    margin: 0;
    padding: 0;
  }

  .app-platform__list {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .app-platform__item {
    padding-left: 74px;
  }

  .contact-info {
    order: 2;
    width: 100%;
    height: 175px;
    box-sizing: border-box;
    margin-bottom: 52px;
    padding: 28px 0 13px 0;
  }

  .contact-info__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .contact-info__item {
    display: flex;
    flex-direction: column;

    width: 375px;
    margin: 0 auto;
  }

  .form__input--contact-info {
    width: 315px;
  }

  .achievements {
    width: 100%;
    margin-bottom: 51px;
    padding: 44px 0 59px 0;
  }

  .achievements__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 820px;
    margin: 0 auto;
  }

  .achievements__item {
    width: 260px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:nth-child(2) {
      order: 4;
    }

    &:nth-child(3) {
      order: 2;
    }

    &:nth-child(4) {
      order: 5;
    }

    &:nth-child(5) {
      order: 3;
    }

    &:last-child {
      order: 6;
    }

    &:nth-child(2n + 2) {
      margin-top: 52px;
    }
  }

  .achievements__name {
    padding-left: 60px;
  }

  .emotions {
    width: 100%;
    margin-bottom: 65px;
    padding: 28px 0 43px 0;
  }

  .emotion__message {
    width: 820px;
    height: 128px;
    margin: 0 auto;
  }
}



// Popups





.modal-position {
 position: fixed;
 top: 50%;
 left: 50%;
 z-index: 5;

 margin-top: -190px;
 margin-left: -160px;

  &--fail {
    margin-top: -145px;
  }
}

.modal-application {
  display: none;
  width: 320px;
  height: 380px;
  padding: 41px 0 52px 0;

  box-sizing: border-box;

  background-color: #ffffff;

  background-image: linear-gradient(to bottom, #ffffff 215px, #f2f2f2 215px);

  box-shadow: 0 7px 15px rgba(#000101, 0.15);

  &--active {
    display: block;
  }

  &--fail {
    display: none;
    height: 289px;

    background-image: none;
  }
}

.modal-application__title {
  display: block;
  margin-bottom: 25px;

  font-weight: bold;
  text-align: center;
}

.modal-application__text {
  max-width: 265px;
  margin: 0 auto;
  margin-bottom: 79px;

  font-size: 14px;
  color: $color-blue;
  text-align: center;

  &--fail {
    margin-bottom: 26px;
  }
}

.modal-application__close-button {
  display: block;
}

@media (min-width: $tablet-screen) {
  .modal-position {
    margin-top: -215px;
    margin-left: -230px;

    &--fail {
      margin-top: -182px;
    }
  }

   .modal-application {
     width: 460px;
     height: 431px;
     padding: 36px 0 52px 0;


     background-image: linear-gradient(to bottom, #ffffff 268px, #f2f2f2 268px);

     box-shadow: 0 7px 15px rgba(#000101, 0.15);

     &--fail {
      height: 363px;

      background-image: none;
    }
  }

   .modal-application__title {
     max-width: 205px;
     margin: 0 auto;
     margin-bottom: 23px;

     font-size: 30px;
     line-height: 40px;

     &--fail {
      max-width: 220px;
    }
   }

   .modal-application__text {
     max-width: 310px;
     margin-bottom: 81px;

     font-size: 18px;

     &--fail {
      margin-bottom: 37px;
    }
  }

   .modal-application__close-button {
     display: block;
     margin: 0 auto;
  }
}

@media (min-width: $desktop-screen) {
  .modal-position {
    margin-top: -189px;
    margin-left: -390px;
  }

  .modal-application {
    width: 780px;
    height: 377px;
    padding: 42px 0 52px 0;

    background-image: linear-gradient(to bottom, #ffffff 215px, #f2f2f2 215px);
  }

  .modal-application__title {
    max-width: 600px;
    margin-bottom: 25px;

    &--fail {
      max-width: 600px;
    }
  }

  .modal-application__text {
    max-width: 380px;
    margin-bottom: 86px;

    &--fail {
      margin-bottom: 107px;
    }
  }

}
