// HEADER NAVIGATION BLOCK /////


.page-header {
  display: block;

  background-image: linear-gradient(to bottom, rgba(#000000, 0.3), rgba(#000000, 0.3) 66px, transparent 66px), url("../img/bg_mobile.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}

.page-header__logo-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  height: 66px;
}

.page-header__logo {
  display: block;
  width: 75px;
  height: 22px;

  background-image: url("../img/logotype-white-mobile.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_nav__toggle-button--open {
  position: relative;

  display: block;

  width: 50px;
  height: 4px;

  background-color: #ffffff;
  border: none;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: -10px;
    left: 0;

    width: 50px;
    height: 4px;

    background-color: #ffffff;
  }

  &::after {
    top: 10px;
  }

  &:hover,
  &:hover::before,
  &:hover::after {
    background-color: $color-hover;
  }

  &:active,
  &:active::before,
  &:active::after {
    background-color: rgba($color-hover, 0.3);
  }
}

.main_nav__toggle-button--close {
  display: block;

  width: 24px;
  height: 23px;

  background-image: url("../img/cross-button.svg");
  background-position: center;
  background-repeat: no-repeat;

  background-color: transparent;
  border: none;
  &:hover {
    background-image: url("../img/cross-button-hover.svg");
  }
  &:active {
    background-image: url("../img/cross-button-hover.svg");
    opacity: 0.3;
  }
}

.main-nav {
  display: none;
  width: auto;
}

.main-nav__list {
  @include reset-list
}

.site-list__item {
  text-align: center;
}

.site-list__link {
  display: block;
  padding: 16px 0;

  line-height: 32px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $color-blue-dark;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
              0 1px 0 #000000;
  &:hover {
    color: $color-hover;
  }
  &--active:hover {
    color: #ffffff;
  }
  &:active {
    color: rgba($color-hover, 0.3);
  }
  &--active:active {
    color: #ffffff;
  }
}

@media (min-width: $media-mobile-max) {
  .page-header {
    background-image: linear-gradient(to bottom, rgba(#000000, 0.3), rgba(#000000, 0.3) 110px, transparent 110px), url("../img/bg_tablet.jpg");
    background-size: cover;
    background-position: center;
  }

  .page-header__wrapper {
    @include container-tablet;
  }

  .page-header__logo-wrap {
    min-height: 110px;

    background-color: transparent;
  }

  .page-header__logo {
    width: 147px;
    height: 40px;

    background-image: url("../img/logotype-white-tablet.svg");
  }
}

@media (min-width: $media-tablet-max) {
  .page-header {
    background-image: linear-gradient(to bottom, rgba(#000000, 0.3), rgba(#000000, 0.3) 110px, transparent 110px), url("../img/bg_desktop.png");
  }

  .page-header__wrapper {
    @include container-desktop;
  }

  .page-header__logo-wrap {
    width: 150px;
    padding: 0;

    background-color: transparent;
  }

  .page-header__logo {
    width: 147px;
    height: 40px;

    background-image: url("../img/logotype-white-desktop.svg");
  }

  .page-header__logo:hover {
    background-image: url("../img/logotype-pink-desktop.svg");

  }
  .page-header__logo:active {
    background-image: url("../img/logotype-white-desktop.svg");
    opacity: 0.3;
  }

  .main-nav {
    display: block;
  }

  .main_nav__toggle-button {
    &--open,
    &--close {
      display: none;
    }
  }

  .main-nav {
    width: 623px;
  }

  .page-header__nav-wrap {
    display: flex;
    justify-content: space-between;
  }

  .site-list__link {
    display: block;
    padding: 16px 0;

    line-height: 32px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    background-color: $color-blue-dark;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
                0 1px 0 #000000;
  }

  .site-list {
    display: flex;
    justify-content: space-between;
  }

  .site-list__link {
    display: block;
    padding: 46px 0;

    line-height: 18px;
    font-weight: normal;
    text-transform: capitalize;

    background-color: transparent;
    box-shadow: none;
  }

  .site-list__link:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .site-list__item--active {
    background-image: linear-gradient(to bottom, transparent 75px, #ffffff 75px, #ffffff 77px, transparent 77px);
  }
}



// HEADER PROMO BLOCK /////



.page-header__promo {
  min-height: 212px;
  margin-top: 396px;
  padding: 28px 20px 31px 20px;
}

.promo-apps {
  background-color: #1d2631;
}

.promo-apps__slogan {
  display: none;
  margin: 0;
}

.promo-apps__button {
  display: block;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 33px;
  padding: 16px 0;

  box-sizing: border-box;

  line-height: 18px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;

  border: 3px solid #ffffff;
  border-radius: 30px;
  &:hover {
    color: $color-hover;
    background-color: #ffffff;
  }

  &:active {
    color: rgba($color-hover, 0.3);
    background-color: #ffffff;
  }
}

.apps-list__item-name {
  @include visually-hidden;
}

.promo-apps__list {
  @include reset-list;

  display: block;
  margin-bottom: 17px;
  padding: 0 37px;

  text-align: center;
}

.apps-list__item {
  display: inline-block;
  margin-right: 31px;
  &:last-child {
    margin-right: 0;
  }
}

.apps-list__link {
  display: block;
  &--apple {
    width: 47px;
    height: 56px;
    background: url("../img/apple-icon.svg") center no-repeat;
  }

  &--android {
    width: 43px;
    height: 47px;
    background: url("../img/android-icon.svg") center no-repeat;
  }

  &--microsoft {
    width: 44px;
    height: 41px;
    background: url("../img/microsoft-icon.svg") center no-repeat;
  }
}

.promo-apps__info {
  max-width: 280px;
  margin: 0 auto;

  font-size: 14px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

@media (min-width: $media-mobile-max) {
  .page-header__promo {
    width: 300px;
    margin: 0;
    padding: 96px 0 105px 0;
  }

  .promo-apps__slogan {
    display: block;
    max-width: 190px;
    margin: 0 auto;
    margin-bottom: 32px;

    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
  }

  .promo-apps {
    background-color: transparent;
  }

  .promo-apps__button {
    margin-bottom: 46px;
  }

  .promo-apps__list {
    margin-bottom: 31px;
    padding: 0 27px;
  }
}

@media (min-width: $media-tablet-max) {
  .page-header__promo {
    width: 300px;
    margin: 0;
    padding: 111px 0 112px 0;
  }

  .promo-apps__slogan {
    display: block;
    max-width: 240px;
    margin: 0 auto;
    margin-bottom: 47px;

    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
  }

  .promo-apps__button {
    margin-bottom: 67px;
  }

  .promo-apps__list {
    margin-bottom: 61px;
    padding: 0 43px;
  }
}


// PAGE-MAIN FEATURES BLOCK /////


.page-main__title,
.features__title {
  @include visually-hidden;
}

.features {
  padding-top: 43px;
}

.features__slogan {
  display: block;
  max-width: 220px;
  margin: 0 auto;
  padding-bottom: 36px;

  font-size: 24px;
  line-height: 1.2;
  color: $color-blue-dark;
  font-weight: 300;
  text-align: center;

  &--second-line {
    display: block;
    padding-top: 26px;
  }
}

.features__wrap {
  position: relative;

  display: block;
  @include reset-list;
  padding: 82px 20px 315px 20px;

  background-color: #f2f2f2;

  overflow: hidden;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 32px;

    background-image: linear-gradient(to right bottom, #ffffff 50%, #f2f2f2 50%);
  }

  &::after {
    content: "";

    position: absolute;
    bottom: -43px;
    left: 50%;

    width: 156px;
    height: 320px;
    margin-left: -78px;

    background-image: url("../img/features-phone.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
  }
}

.features__list {
  @include reset-list;
}

.feature__title {
  display: block;
  margin: 0;
  padding-bottom: 12px;

  font-weight: bold;
  text-align: center;
}

.feature__description {
  display: block;
  max-width: 262px;
  margin: 0 auto;
  padding-bottom: 32px;

  font-size: 14px;
  color: $color-blue-dark;
  text-align: center;
}

.feature__item:last-child .feature__description {
  padding-bottom: 0;
}

.feature__research {
  display: none;
}

@media (min-width: $media-mobile-max) {
  .features {
    padding-top: 53px;
  }

  .features__slogan {
    max-width: 590px;
    padding-bottom: 43px;

    font-size: 40px;

    &--second-line {
      max-width: 580px;
      padding-top: 0;
    }
  }

  .features__wrap {
    padding-top: 73px;
    padding-bottom: 38px;

    &::before {
      height: 50px;
    }

    &::after {
      background: none;
    }
  }

  .features__list {
    position: relative;

    display: block;
    width: 310px;
    margin: 0 auto;

    padding-left: 310px;

    &::after {
      content: "";

      position: absolute;
      top: -68px;
      left: 0;

      width: 265px;
      height: 547px;

      background-image: url("../img/features-phone.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .feature__title {
    padding-bottom: 13px;

    text-align: left;
  }

  .feature__description {
    max-width: 310px;
    margin: 0;
    padding-bottom: 35px;
    text-align: left;
  }

  .feature__research {
    display: block;
    padding: 96px 20px 125px 20px;
  }

  .research-feature__wrap {
    position: relative;

    width: 310px;
    margin: 0 auto;
    padding-left: 310px;

    &::before {
      content: "";

      position: absolute;
      top: -37px;
      left: 0;

      width: 239px;
      height: 276px;

      background-image: url("../img/research-icon.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
    }
  }

  .research-feature__title {
    max-width: 122px;
    margin: 0;
    padding-bottom: 10px;

    font-size: 30px;
    line-height: 36px;

    &--second-line {
      white-space: nowrap;
    }
  }

  .research-feature__description {
    max-width: 296px;
    margin: 0;
    padding-bottom: 9px;

    font-size: 14px;
    color: $color-blue-dark;
  }

  .research-feature__link-more {
    font-size: 14px;
    color: $color-hover;
  }
}

@media (min-width: $media-tablet-max) {
  .features {
    padding-top: 68px;
  }

  .features__slogan {
    max-width: 735px;
    padding-bottom: 78px;

    font-size: 50px;

    &--second-line {
      max-width: 425px;
      margin: 0 auto;
      padding-top: 0;
    }
  }

  .features__wrap {
    padding: 298px 0 0 0;
    overflow: visible;

    &::before {
      height: 92px;
    }
  }

  .features__list {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: auto;
    padding: 0 10px;

    &::after {
      background: none;
    }
  }

  .feature__item {
    position: relative;

    width: 300px;
    padding-top: 54px;

    &::before {
      content: "";

      position: absolute;
      top: -375px;
      left: 50%;

      width: 186px;
      height: 382px;
      margin-left: -93px;

      background-repeat: no-repeat;
      background-position: 0 78px;
    }

    &::after {
      content: "";

      position: absolute;
      top: -9px;
      left: 50%;

      width: 294px;
      height: 17px;
      margin-left: -147px;

      background-image: url("../img/feature-desktop-shadow.png");

      background-repeat: no-repeat;
      background-position: 0 8px;
    }

    &:first-child::before {
      background-image: url("../img/feature-desktop-1.png");
    }

    &:nth-child(2)::before {
      background-image: url("../img/feature-desktop-2.png");
    }

    &:last-child::before {
      background-image: url("../img/feature-desktop-3.png");
    }
  }

  .feature__title {
    max-width: 225px;
    margin: 0 auto;
    padding-bottom: 22px;

    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .feature__description {
    max-width: 240px;
    margin: 0 auto;
    padding-bottom: 0;

    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .feature__research {
    position: relative;

    display: block;
    padding: 159px 0 113px 0;

    background: #f2f2f2;
  }

  .research-feature__wrap {
    width: 570px;
    padding-left: 370px;
    margin: 0 auto;

    &::before {
      top: -94px;
      left: 0;

      width: 300px;
      height: 345px;
    }
  }

  .research-feature__title {
    max-width: 550px;
    padding-bottom: 24px;

    font-size: 30px;
    line-height: 30px;

    &--second-line {
      white-space: wrap;
    }
  }

  .research-feature__description {
    max-width: 570px;
    padding-bottom: 31px;

    font-size: 18px;
    line-height: 30px;
  }

  .research-feature__link-more {
    font-size: 18px;
    line-height: 30px;
  }
}




// MAIN-PAGE REVIEWS BLOCK /////


.reviews {
  position: relative;
}

.reviews__wrapper {
  padding-top: 43px;
  padding-bottom: 87px;
}

.reviews__title {
  @include visually-hidden;
}

.review__item {
  margin: 0;
}

.review__author-name {
  display: block;
  margin: 0 auto ;

  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.review__text {
  display: block;
  max-width: 280px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 30px;
  color: $color-blue-dark;
  text-align: center;
}

.review__author-info {
  display: none;
}

.reviews__toggles {
  @include reset-list;

  position: absolute;
  bottom: 42px;
  left: 50%;

  display: block;
  width: 65px;
  margin-left: -32px;
}

.slider-toggles__item {
  display: inline-block;
  width: 15px;
}

.slider-toggles__switch {
  display: block;
  width: 6px;
  height: 6px;
  padding: 0;

  background-color: rgba($color-blue-dark, 0.3);

  border: 3px solid #ffffff;
  border-radius: 50%;

  &:hover {
    background-color: rgba($color-blue-dark, 0.6);
  }

  &:active {
    background-color: rgba($color-blue-dark, 0.1);
  }

  &--active,
  &--active:hover,
  &--active:active {
    background-color: #ffffff;
    border: 3px solid $color-blue-dark;
  }
}

.reviews__arrow-toggles {
  display: none;
}

.hidden__text {
  @include visually-hidden;
}

@media (min-width: $media-mobile-max) {
  .reviews__wrapper {
    padding-top: 100px;
    padding-bottom: 66px;
  }

  .review__item {
    display: flex;
    flex-direction: column;

  }

  .review__author-name {
    order: 2;
    padding-bottom: 3px;

    font-size: 20px;
  }

  .review__text {
    order: 1;
    max-width: 620px;
    padding-bottom: 34px;

    font-size: 18px;
  }

  .review__author-info {
    display: block;
    margin: 0;
    order: 3;

    font-size: 14px;
    line-height: 30px;
    color: $color-blue-dark;
    text-align: center;
  }

  .reviews__toggles {
    bottom: 21px;
  }
}

@media (min-width: $media-tablet-max) {
  .reviews__wrapper {
    padding-top: 186px;
    padding-bottom: 41px;
  }

  .review__author-name {
    padding-bottom: 3px;

    font-size: 24px;
  }

  .review__text {
    max-width: 690px;
    padding-bottom: 35px;
  }

  .review__author-info {
    font-size: 18px;
  }

  .reviews__toggles {
    display: none;
  }

  .hidden__arrows-text {
    @include visually-hidden;
  }

  .reviews__arrow-toggles {
    @include reset-list;
    position: relative;

    display: block;
    width: 940px;
    margin: 0 auto;
  }

  .slider-arrows__switch {
    position: absolute;
    top: -153px;

    display: block;
    width: 24px;
    height: 24px;
    background-color: transparent;

    border: 3px solid rgba($color-blue-dark, 0.3);

    cursor: pointer;

    &--next {
      right: 0;
      border-left-color: transparent;
      border-top-color: transparent;

      transform: rotate(-45deg);
    }

    &--back {
      left: 0;
      border-right-color: transparent;
      border-top-color: transparent;

      transform: rotate(45deg);
    }

    &--next:hover {
      border-right-color: rgba($color-blue-dark, 0.6);
      border-bottom-color: rgba($color-blue-dark, 0.6);
    }

    &--back:hover {
      border-left-color: rgba($color-blue-dark, 0.6);
      border-bottom-color: rgba($color-blue-dark, 0.6);
    }

    &--next:active {
      border-right-color: rgba($color-blue-dark, 0.1);
      border-bottom-color: rgba($color-blue-dark, 0.1);
    }

    &--back:active {
      border-left-color: rgba($color-blue-dark, 0.1);
      border-bottom-color: rgba($color-blue-dark, 0.1);
    }

  }


}
